<h2>{{entry.title}}</h2>
<figure>
    <img src="{{entry.photo}}" alt="test-photo" class="img-responsive">
    <figcaption>{{entry.description}}</figcaption>
</figure>
<div class="actions">
    <button type="button" class="btn btn-default btn-lg" (click)="isLiked = !isLiked"><i class="fa fa-heart" aria-hidden="true" [ngClass]="{liked: isLiked}"></i> Like</button>
    <button type="button" class="btn btn-default btn-lg" (click)="showComments = !showComments" >Comments ({{entry.comments.length}})</button>
</div>
<div class="comments" *ngIf="showComments">
    <div *ngFor="let comment of entry.comments let i = index" class="comment">
        <p><strong>{{comment.name}}</strong>: {{comment.comment}} {{i + 1}}</p>
    </div>
    <app-entry-comment-form></app-entry-comment-form>
</div>